@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: #404040;
  color: #fff;
  box-sizing: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.title {
  position: fixed;
  top: 10%;
  font-family: Rubik Vinyl;
  margin: 0;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px orange, 2px -2px orange, -2px 2px orange,
    -2px -2px orange;
  text-align: center;
}

.btn {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 200px;
  height: 55px;
  border: 2px solid orange;
  border-radius: 10px;
  font-family: cursive;
  font-size: 2rem;
  color: black;
  background-color: #f1f1f188;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: orange;
  color: white;
  border-color: white;
}

.rectangle {
  background: url(../public/rectangle1.svg);
  background-size: cover;
  background-position: center;
  font-family: "Comic Neue";
  color: rgb(85, 85, 85);
  width: 300px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 400px) {
  .title {
    font-size: 45px;
  }
  .rectangle {
    width: 350px;
    min-height: 170px;
  }
  .text {
    width: 330px;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 60px;
  }
  .rectangle {
    width: 500px;
    min-height: 250px;
  }
  .text {
    width: 450px;
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 70px;
  }
  .rectangle {
    width: 700px;
    min-height: 300px;
  }
  .text {
    font-size: 2rem;
    width: 600px;
  }
}